.about-page {
    min-height: 500px;
    text-align: center;
}

.about-page-name {
    font-weight: 800;
}

.about-page-stack {
    margin-bottom: 20px;
}

.about-page-tech {
    height: 40px;
    width: 40px;
    margin-right: 20px;
    margin-left: 20px;
}

.about-page-tech-header {
    color: #02aec9;
    text-decoration: none;
    margin-top: 10px;
}

.highlight-title {
    color: #02aec9
}

.resume-button {
    text-decoration: none;
}

.skills-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: cover;
    align-items: space-between;
}