@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

html, body {
    min-height: 100%;
    width: cover;
}


body {
    background: radial-gradient(at top left, rgb(43, 116, 225) 0%, rgb(9, 48, 107) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px 30px;
}

h1, h2, h3 {
    color: white;
}

p {
    font-size: 1em;
    color: rgb(201, 201, 201);

}