.hero-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: cover;
    min-height: 750px;
    align-items: center;
}

.hero-page-left {
    margin-left: 35px;
}


.hero-page h1 {
    font-size: 3.5em;
    font-weight: 600;
    color: white;
}

.hero-image {
    height: 400px;
    width: 400px;
}

@media only screen and (max-width: 850px) {
    .hero-page {
        grid-template-columns: 1fr;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .hero-page-left {
        margin-left: 0;
    }
    .hero-image {
        max-width: 400px;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
}