.projects-page {
    min-height: 600px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.projects-page h1 {
    margin-left: 20px;
}

.projects-page-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
    margin: 80px 20px;
}

.highlight-title {
    color: #02aec9
}

@media only screen and (max-width: 900px) { 
    .projects-page-list{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 600px) { 
    .projects-page-list{
        grid-template-columns: 1fr;
    }
}